* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v14_8 {
  width: 100%;
  height: 10566px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v35_275 {
  width: 100%;
  height: 142px;
  background: url("../images/v35_275.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 10424px;
  left: 14px;
  overflow: hidden;
}
.v35_276 {
  width: 100%;
  height: 142px;
  background: rgba(114,114,114,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v35_277 {
  width: 116px;
  height: 51px;
  background: url("../images/v35_277.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 38px;
  left: 43px;
  overflow: hidden;
}
.v35_278 {
  width: 34px;
  height: 34px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 4px;
  left: 3px;
}
.v35_279 {
  width: 31px;
  height: 31px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 1px;
}
.v35_280 {
  width: 25px;
  height: 25px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 0px;
}
.v35_281 {
  width: 12px;
  height: 12px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 3px;
  left: 2px;
}
.v35_282 {
  width: 46px;
  height: 46px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 4px;
  left: 24px;
}
.v35_283 {
  width: 48px;
  height: 47px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 17px;
}
.v35_284 {
  width: 46px;
  height: 46px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 11px;
}
.v35_285 {
  width: 40px;
  height: 40px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 3px;
  left: 7px;
}
.v35_286 {
  width: 27px;
  height: 27px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 24px;
  left: 88px;
}
.v35_287 {
  width: 33px;
  height: 33px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 17px;
  left: 81px;
}
.v35_288 {
  width: 14px;
  height: 14px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 34px;
  left: 99px;
}
.v35_289 {
  width: 37px;
  height: 36px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 11px;
  left: 75px;
}
.v35_290 {
  width: 41px;
  height: 41px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 7px;
  left: 67px;
}
.v35_291 {
  width: 47px;
  height: 47px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 3px;
  left: 56px;
}
.v35_292 {
  width: 49px;
  height: 49px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 49px;
}
.v35_293 {
  width: 47px;
  height: 47px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 43px;
}
.v35_294 {
  width: 46px;
  height: 45px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 35px;
}
.v35_295 {
  width: 34px;
  height: 34px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 4px;
  left: 3px;
}
.v35_296 {
  width: 31px;
  height: 31px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 1px;
}
.v35_297 {
  width: 25px;
  height: 25px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 0px;
}
.v35_298 {
  width: 12px;
  height: 12px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 3px;
  left: 2px;
}
.v35_299 {
  width: 46px;
  height: 46px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 4px;
  left: 24px;
}
.v35_300 {
  width: 48px;
  height: 47px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 17px;
}
.v35_301 {
  width: 46px;
  height: 46px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 11px;
}
.v35_302 {
  width: 40px;
  height: 40px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 3px;
  left: 7px;
}
.v35_303 {
  width: 27px;
  height: 27px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 24px;
  left: 88px;
}
.v35_304 {
  width: 33px;
  height: 33px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 17px;
  left: 81px;
}
.v35_305 {
  width: 14px;
  height: 14px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 34px;
  left: 99px;
}
.v35_306 {
  width: 37px;
  height: 36px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 11px;
  left: 75px;
}
.v35_307 {
  width: 41px;
  height: 41px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 7px;
  left: 67px;
}
.v35_308 {
  width: 47px;
  height: 47px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 3px;
  left: 56px;
}
.v35_309 {
  width: 49px;
  height: 49px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 49px;
}
.v35_310 {
  width: 47px;
  height: 47px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 43px;
}
.v35_311 {
  width: 46px;
  height: 45px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 35px;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v35_316 {
  width: 580px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 46px;
  left: 182px;
  font-family: DM Sans;
  font-weight: Regular;
  font-size: 27px;
  opacity: 1;
  text-align: left;
}
.v35_317 {
  width: 174px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 46px;
  left: 804px;
  font-family: DM Sans;
  font-weight: Regular;
  font-size: 27px;
  opacity: 1;
  text-align: left;
}
.v35_318 {
  width: 174px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 46px;
  left: 1019px;
  font-family: DM Sans;
  font-weight: Regular;
  font-size: 27px;
  opacity: 1;
  text-align: center;
}
.v35_319 {
  width: 210px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 46px;
  left: 1214px;
  font-family: DM Sans;
  font-weight: Regular;
  font-size: 27px;
  opacity: 1;
  text-align: center;
}
.v35_320 {
  width: 210px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 46px;
  left: 1442px;
  font-family: DM Sans;
  font-weight: Regular;
  font-size: 27px;
  opacity: 1;
  text-align: center;
}
.v35_321 {
  width: 100%;
  height: 297px;
  background: url("../images/v35_321.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 10135px;
  left: 14px;
  overflow: hidden;
}
.v35_322 {
  width: 100%;
  height: 289px;
  background: rgba(114,114,114,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v35_323 {
  width: 411px;
  height: 88px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 56px;
  left: 100px;
  border-top-left-radius: 17px;
  border-top-right-radius: 17px;
  border-bottom-left-radius: 17px;
  border-bottom-right-radius: 17px;
  overflow: hidden;
}
.v35_324 {
  width: 411px;
  height: 88px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 56px;
  left: 653px;
  border-top-left-radius: 17px;
  border-top-right-radius: 17px;
  border-bottom-left-radius: 17px;
  border-bottom-right-radius: 17px;
  overflow: hidden;
}
.v35_325 {
  width: 411px;
  height: 88px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 56px;
  left: 1206px;
  border-top-left-radius: 17px;
  border-top-right-radius: 17px;
  border-bottom-left-radius: 17px;
  border-bottom-right-radius: 17px;
  overflow: hidden;
}
.v35_326 {
  width: 194px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 79px;
  left: 1315px;
  font-family: DM Sans;
  font-weight: SemiBold;
  font-size: 32px;
  opacity: 1;
  text-align: center;
}
.v35_327 {
  width: 194px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 79px;
  left: 761px;
  font-family: DM Sans;
  font-weight: SemiBold;
  font-size: 32px;
  opacity: 1;
  text-align: center;
}
.v35_328 {
  width: 194px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 79px;
  left: 208px;
  font-family: DM Sans;
  font-weight: SemiBold;
  font-size: 32px;
  opacity: 1;
  text-align: center;
}
.v35_329 {
  width: 464px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 192px;
  left: 75px;
  font-family: DM Sans;
  font-weight: Regular;
  font-size: 32px;
  opacity: 1;
  text-align: center;
}
.v35_330 {
  width: 317px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 171px;
  left: 700px;
  font-family: DM Sans;
  font-weight: Regular;
  font-size: 32px;
  opacity: 1;
  text-align: center;
}
.v35_331 {
  width: 62px;
  height: 60px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 183px;
  left: 1379px;
}
.v35_261 {
  width: 100%;
  height: 1189px;
  background: url("../images/v35_261.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 8946px;
  left: 14px;
  overflow: hidden;
}
.v35_262 {
  width: 100%;
  height: 100%;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v35_263 {
  width: 759px;
  height: 88px;
  background: url("../images/v35_263.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1063px;
  left: 89px;
  overflow: hidden;
}
.v35_264 {
  width: 759px;
  height: 88px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 17px;
  border-top-right-radius: 17px;
  border-bottom-left-radius: 17px;
  border-bottom-right-radius: 17px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.name {
  color: #fff;
}
.v35_268 {
  width: 362px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 23px;
  left: 8px;
  font-family: DM Sans;
  font-weight: SemiBold;
  font-size: 32px;
  opacity: 1;
  text-align: center;
}
.v35_269 {
  width: 362px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 23px;
  left: 396px;
  font-family: DM Sans;
  font-weight: SemiBold;
  font-size: 32px;
  opacity: 1;
  text-align: center;
}
.v35_271 {
  width: 100%;
  height: 42px;
  background: url("../images/v35_271.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 990px;
  left: 44px;
  overflow: hidden;
}
.v35_272 {
  width: 100%;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: DM Sans;
  font-weight: Regular;
  font-size: 32px;
  opacity: 1;
  text-align: center;
}
.v35_270 {
  width: 100%;
  height: 756px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 186px;
  left: 0px;
  overflow: hidden;
}
.v35_273 {
  width: 751px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 28px;
  left: 96px;
  font-family: DM Sans;
  font-weight: SemiBold;
  font-size: 96px;
  opacity: 1;
  text-align: left;
}
.v35_254 {
  width: 100%;
  height: 1414px;
  background: url("../images/v35_254.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 7532px;
  left: 7px;
  overflow: hidden;
}
.v35_255 {
  width: 100%;
  height: 100%;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v35_257 {
  width: 100%;
  color: rgba(67,141,204,1);
  position: absolute;
  top: 74px;
  left: 112px;
  font-family: DM Sans;
  font-weight: Black;
  font-size: 96px;
  opacity: 1;
  text-align: center;
}
.v35_256 {
  width: 100%;
  height: 628px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 220px;
  left: 0px;
  overflow: hidden;
}
.v35_258 {
  width: 100%;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 904px;
  left: 80px;
  font-family: DM Sans;
  font-weight: 9pt Italic;
  font-size: 48px;
  opacity: 1;
  text-align: center;
}
.v35_209 {
  width: 100%;
  height: 1292px;
  background: url("../images/v35_209.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 6240px;
  left: 0px;
  overflow: hidden;
}
.v35_210 {
  width: 100%;
  height: 100%;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v35_212 {
  width: 100%;
  color: url("../images/v35_212.png");
  position: absolute;
  top: 74px;
  left: 112px;
  font-family: DM Sans;
  font-weight: Black;
  font-size: 96px;
  opacity: 1;
  text-align: right;
}
.v35_211 {
  width: 100%;
  height: 628px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 220px;
  left: 0px;
  overflow: hidden;
}
.v35_213 {
  width: 100%;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 904px;
  left: 80px;
  font-family: DM Sans;
  font-weight: 9pt Italic;
  font-size: 48px;
  opacity: 1;
  text-align: right;
}
.v35_253 {
  width: 100%;
  height: 1004px;
  background: url("../images/v35_253.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 5236px;
  left: 0px;
  overflow: hidden;
}
.v35_217 {
  width: 100%;
  height: 100%;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v35_249 {
  width: 280px;
  height: 686px;
  background: url("../images/v35_249.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 228px;
  left: 1361px;
  overflow: hidden;
}
.v35_234 {
  width: 63px;
  height: 60px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 626px;
  left: 108px;
}
.v35_247 {
  width: 269px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 496px;
  left: 6px;
  font-family: DM Sans;
  font-weight: Regular;
  font-size: 32px;
  opacity: 1;
  text-align: center;
}
.v35_232 {
  width: 258px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 326px;
  left: 11px;
  font-family: DM Sans;
  font-weight: Regular;
  font-size: 48px;
  opacity: 1;
  text-align: center;
}
.v35_225 {
  width: 280px;
  height: 280px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 50%;
}
.v35_252 {
  width: 280px;
  height: 686px;
  background: url("../images/v35_252.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 228px;
  left: 941px;
  overflow: hidden;
}
.v35_236 {
  width: 63px;
  height: 60px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 626px;
  left: 108px;
}
.v35_245 {
  width: 269px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 499px;
  left: 0px;
  font-family: DM Sans;
  font-weight: Regular;
  font-size: 32px;
  opacity: 1;
  text-align: center;
}
.v35_230 {
  width: 258px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 326px;
  left: 11px;
  font-family: DM Sans;
  font-weight: Regular;
  font-size: 48px;
  opacity: 1;
  text-align: center;
}
.v35_223 {
  width: 280px;
  height: 280px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 50%;
}
.v35_251 {
  width: 280px;
  height: 686px;
  background: url("../images/v35_251.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 228px;
  left: 521px;
  overflow: hidden;
}
.v35_238 {
  width: 63px;
  height: 60px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 626px;
  left: 108px;
}
.v35_243 {
  width: 269px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 502px;
  left: 11px;
  font-family: DM Sans;
  font-weight: Regular;
  font-size: 32px;
  opacity: 1;
  text-align: center;
}
.v35_228 {
  width: 258px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 326px;
  left: 11px;
  font-family: DM Sans;
  font-weight: Regular;
  font-size: 48px;
  opacity: 1;
  text-align: center;
}
.v35_221 {
  width: 280px;
  height: 280px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 50%;
}
.v35_250 {
  width: 280px;
  height: 686px;
  background: url("../images/v35_250.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 228px;
  left: 101px;
  overflow: hidden;
}
.v35_240 {
  width: 63px;
  height: 60px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 626px;
  left: 108px;
}
.v35_242 {
  width: 258px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 499px;
  left: 11px;
  font-family: DM Sans;
  font-weight: Regular;
  font-size: 32px;
  opacity: 1;
  text-align: center;
}
.v35_227 {
  width: 258px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 326px;
  left: 11px;
  font-family: DM Sans;
  font-weight: Regular;
  font-size: 48px;
  opacity: 1;
  text-align: center;
}
.v35_220 {
  width: 280px;
  height: 280px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 50%;
}
.v35_218 {
  width: 100%;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 28px;
  left: 328px;
  font-family: DM Sans;
  font-weight: Black;
  font-size: 96px;
  opacity: 1;
  text-align: center;
}
.v35_208 {
  width: 100%;
  height: 1292px;
  background: url("../images/v35_208.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 3972px;
  left: 0px;
  overflow: hidden;
}
.v35_207 {
  width: 100%;
  height: 100%;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v35_205 {
  width: 100%;
  height: 628px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 220px;
  left: 0px;
  overflow: hidden;
}
.v35_204 {
  width: 100%;
  color: url("../images/v35_204.png");
  position: absolute;
  top: 74px;
  left: 112px;
  font-family: DM Sans;
  font-weight: Black;
  font-size: 96px;
  opacity: 1;
  text-align: left;
}
.v35_206 {
  width: 100%;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 904px;
  left: 80px;
  font-family: DM Sans;
  font-weight: 9pt Italic;
  font-size: 48px;
  opacity: 1;
  text-align: left;
}
.v34_203 {
  width: 100%;
  height: 1072px;
  background: url("../images/v34_203.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 2912px;
  left: 0px;
  overflow: hidden;
}
.v34_202 {
  width: 100%;
  height: 100%;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v34_200 {
  width: 616px;
  height: 508px;
  background: url("../images/v34_200.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 464px;
  left: 201px;
  overflow: hidden;
}
.v34_201 {
  width: 728px;
  height: 508px;
  background: url("../images/v34_201.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 464px;
  left: 844px;
  overflow: hidden;
}
.v33_197 {
  width: 100%;
  color: url("../images/v33_197.png");
  position: absolute;
  top: 80px;
  left: 201px;
  font-size: 48px;
  opacity: 1;
  text-align: center;
}
.v34_198 {
  width: 100%;
  height: 1101px;
  background: url("../images/v34_198.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1815px;
  left: 0px;
  overflow: hidden;
}
.v33_192 {
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v33_195 {
  width: 91px;
  height: 91px;
  background: rgba(67,141,204,1);
  opacity: 1;
  position: absolute;
  top: 794px;
  left: 1584px;
}
.v33_194 {
  width: 100%;
  height: 100%;
  background: url("../images/v33_194.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 336px;
  overflow: hidden;
}
.v33_191 {
  width: 100%;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 487px;
  left: 112px;
  font-family: DM Sans;
  font-weight: Black;
  font-size: 400px;
  opacity: 1;
  text-align: left;
}
.v33_189 {
  width: 520px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 422px;
  left: 1063px;
  font-family: DM Sans;
  font-weight: Light Italic;
  font-size: 96px;
  opacity: 1;
  text-align: left;
}
.v33_187 {
  width: 520px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 292px;
  left: 628px;
  font-family: DM Sans;
  font-weight: Light Italic;
  font-size: 96px;
  opacity: 1;
  text-align: left;
}
.v33_186 {
  width: 520px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 162px;
  left: 372px;
  font-family: DM Sans;
  font-weight: Light Italic;
  font-size: 96px;
  opacity: 1;
  text-align: left;
}
.v33_185 {
  width: 100%;
  height: 713px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 1031px;
  left: 603px;
  overflow: hidden;
}
.v33_179 {
  width: 100%;
  height: 1008px;
  background: url("../images/v33_179.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 180px;
  left: 0px;
  overflow: hidden;
}
.v33_180 {
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.6200000047683716);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v33_181 {
  width: 935px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 584px;
  left: 167px;
  font-family: DM Sans;
  font-weight: Black;
  font-size: 40px;
  opacity: 1;
  text-align: left;
}
.v33_182 {
  width: 100%;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 464px;
  left: 0px;
  font-family: DM Sans;
  font-weight: Black;
  font-size: 64px;
  opacity: 1;
  text-align: center;
}
.v33_183 {
  width: 100%;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 6px;
  left: 7px;
  font-family: DM Sans;
  font-weight: Black;
  font-size: 400px;
  opacity: 1;
  text-align: center;
}
.v33_169 {
  width: 100%;
  height: 180px;
  background: url("../images/v33_169.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v33_170 {
  width: 100%;
  height: 180px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v33_171 {
  width: 128px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 55px;
  left: 802px;
  font-family: DM Sans;
  font-weight: Regular;
  font-size: 48px;
  opacity: 1;
  text-align: left;
}
.v33_172 {
  width: 218px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 55px;
  left: 977px;
  font-family: DM Sans;
  font-weight: Regular;
  font-size: 48px;
  opacity: 1;
  text-align: left;
}
.v33_173 {
  width: 208px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 55px;
  left: 1232px;
  font-family: DM Sans;
  font-weight: Regular;
  font-size: 48px;
  opacity: 1;
  text-align: left;
}
.v33_174 {
  width: 208px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 55px;
  left: 1487px;
  font-family: DM Sans;
  font-weight: Regular;
  font-size: 48px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
.v34_199 {
  width: 185px;
  height: 95px;
  background: url("../images/v34_199.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 42px;
  left: 44px;
  overflow: hidden;
}
.v33_176 {
  width: 38px;
  height: 95px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 21px;
}
.v33_177 {
  width: 185px;
  height: 71px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 9px;
  left: 0px;
}
