* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v14_6 {
  width: 100%;
  height: 7268px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v32_133 {
  width: 100%;
  height: 142px;
  background: url("../images/v32_133.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 7126px;
  left: 0px;
  overflow: hidden;
}
.v32_147 {
  width: 100%;
  height: 142px;
  background: rgba(114,114,114,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v32_148 {
  width: 117px;
  height: 51px;
  background: url("../images/v32_148.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 38px;
  left: 44px;
  overflow: hidden;
}
.v32_77 {
  width: 34px;
  height: 34px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 4px;
  left: 3px;
}
.v32_78 {
  width: 31px;
  height: 31px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 1px;
}
.v32_79 {
  width: 25px;
  height: 25px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 0px;
}
.v32_80 {
  width: 12px;
  height: 12px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 3px;
  left: 2px;
}
.v32_81 {
  width: 47px;
  height: 46px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 4px;
  left: 24px;
}
.v32_82 {
  width: 48px;
  height: 47px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 17px;
}
.v32_83 {
  width: 47px;
  height: 46px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 11px;
}
.v32_84 {
  width: 41px;
  height: 40px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 3px;
  left: 7px;
}
.v32_85 {
  width: 28px;
  height: 27px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 24px;
  left: 89px;
}
.v32_86 {
  width: 34px;
  height: 33px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 17px;
  left: 82px;
}
.v32_87 {
  width: 15px;
  height: 14px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 34px;
  left: 99px;
}
.v32_88 {
  width: 37px;
  height: 36px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 11px;
  left: 76px;
}
.v32_89 {
  width: 42px;
  height: 41px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 7px;
  left: 67px;
}
.v32_90 {
  width: 48px;
  height: 47px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 3px;
  left: 57px;
}
.v32_91 {
  width: 49px;
  height: 49px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 49px;
}
.v32_92 {
  width: 48px;
  height: 47px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 44px;
}
.v32_93 {
  width: 46px;
  height: 45px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 35px;
}
.v32_95 {
  width: 34px;
  height: 34px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 4px;
  left: 3px;
}
.v32_96 {
  width: 31px;
  height: 31px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 1px;
}
.v32_97 {
  width: 25px;
  height: 25px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 0px;
}
.v32_98 {
  width: 12px;
  height: 12px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 3px;
  left: 2px;
}
.v32_99 {
  width: 47px;
  height: 46px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 4px;
  left: 24px;
}
.v32_100 {
  width: 48px;
  height: 47px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 17px;
}
.v32_101 {
  width: 47px;
  height: 46px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 11px;
}
.v32_102 {
  width: 41px;
  height: 40px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 3px;
  left: 7px;
}
.v32_103 {
  width: 28px;
  height: 27px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 24px;
  left: 89px;
}
.v32_104 {
  width: 34px;
  height: 33px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 17px;
  left: 82px;
}
.v32_105 {
  width: 15px;
  height: 14px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 34px;
  left: 99px;
}
.v32_106 {
  width: 37px;
  height: 36px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 11px;
  left: 76px;
}
.v32_107 {
  width: 42px;
  height: 41px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 7px;
  left: 67px;
}
.v32_108 {
  width: 48px;
  height: 47px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 3px;
  left: 57px;
}
.v32_109 {
  width: 49px;
  height: 49px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 49px;
}
.v32_110 {
  width: 48px;
  height: 47px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 44px;
}
.v32_111 {
  width: 46px;
  height: 45px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 35px;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v32_116 {
  width: 585px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 46px;
  left: 184px;
  font-family: DM Sans;
  font-weight: Regular;
  font-size: 27px;
  opacity: 1;
  text-align: left;
}
.v32_117 {
  width: 176px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 46px;
  left: 811px;
  font-family: DM Sans;
  font-weight: Regular;
  font-size: 27px;
  opacity: 1;
  text-align: left;
}
.v32_118 {
  width: 176px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 46px;
  left: 1028px;
  font-family: DM Sans;
  font-weight: Regular;
  font-size: 27px;
  opacity: 1;
  text-align: center;
}
.v32_119 {
  width: 212px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 46px;
  left: 1224px;
  font-family: DM Sans;
  font-weight: Regular;
  font-size: 27px;
  opacity: 1;
  text-align: center;
}
.v32_120 {
  width: 212px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 46px;
  left: 1454px;
  font-family: DM Sans;
  font-weight: Regular;
  font-size: 27px;
  opacity: 1;
  text-align: center;
}
.v32_134 {
  width: 100%;
  height: 289px;
  background: url("../images/v32_134.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 6837px;
  left: 0px;
  overflow: hidden;
}
.v32_74 {
  width: 100%;
  height: 289px;
  background: rgba(114,114,114,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v32_121 {
  width: 415px;
  height: 88px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 56px;
  left: 101px;
  border-top-left-radius: 17px;
  border-top-right-radius: 17px;
  border-bottom-left-radius: 17px;
  border-bottom-right-radius: 17px;
  overflow: hidden;
}
.v32_122 {
  width: 415px;
  height: 88px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 56px;
  left: 658px;
  border-top-left-radius: 17px;
  border-top-right-radius: 17px;
  border-bottom-left-radius: 17px;
  border-bottom-right-radius: 17px;
  overflow: hidden;
}
.v32_123 {
  width: 415px;
  height: 88px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 56px;
  left: 1216px;
  border-top-left-radius: 17px;
  border-top-right-radius: 17px;
  border-bottom-left-radius: 17px;
  border-bottom-right-radius: 17px;
  overflow: hidden;
}
.v32_125 {
  width: 196px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 79px;
  left: 1325px;
  font-family: DM Sans;
  font-weight: SemiBold;
  font-size: 32px;
  opacity: 1;
  text-align: center;
}
.v32_126 {
  width: 196px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 79px;
  left: 768px;
  font-family: DM Sans;
  font-weight: SemiBold;
  font-size: 32px;
  opacity: 1;
  text-align: center;
}
.v32_127 {
  width: 196px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 79px;
  left: 210px;
  font-family: DM Sans;
  font-weight: SemiBold;
  font-size: 32px;
  opacity: 1;
  text-align: center;
}
.v32_129 {
  width: 468px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 192px;
  left: 76px;
  font-family: DM Sans;
  font-weight: Regular;
  font-size: 32px;
  opacity: 1;
  text-align: center;
}
.v32_130 {
  width: 319px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 171px;
  left: 706px;
  font-family: DM Sans;
  font-weight: Regular;
  font-size: 32px;
  opacity: 1;
  text-align: center;
}
.v32_124 {
  width: 63px;
  height: 60px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 183px;
  left: 1391px;
}
.v32_72 {
  width: 100%;
  height: 1189px;
  background: url("../images/v32_72.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 5648px;
  left: 0px;
  overflow: hidden;
}
.v35_215 {
  width: 100%;
  height: 100%;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v32_61 {
  width: 765px;
  height: 88px;
  background: url("../images/v32_61.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1063px;
  left: 90px;
  overflow: hidden;
}
.v32_62 {
  width: 765px;
  height: 88px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 17px;
  border-top-right-radius: 17px;
  border-bottom-left-radius: 17px;
  border-bottom-right-radius: 17px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.name {
  color: #fff;
}
.v32_66 {
  width: 365px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 23px;
  left: 9px;
  font-family: DM Sans;
  font-weight: SemiBold;
  font-size: 32px;
  opacity: 1;
  text-align: center;
}
.v32_67 {
  width: 365px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 23px;
  left: 400px;
  font-family: DM Sans;
  font-weight: SemiBold;
  font-size: 32px;
  opacity: 1;
  text-align: center;
}
.v32_68 {
  width: 100%;
  height: 756px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 186px;
  left: 0px;
  overflow: hidden;
}
.v32_69 {
  width: 100%;
  height: 42px;
  background: url("../images/v32_69.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 990px;
  left: 94px;
  overflow: hidden;
}
.v32_70 {
  width: 100%;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: DM Sans;
  font-weight: Regular;
  font-size: 32px;
  opacity: 1;
  text-align: center;
}
.v32_57 {
  width: 100%;
  height: 652px;
  background: url("../images/v32_57.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1452px;
  left: 0px;
  overflow: hidden;
}
.v32_26 {
  width: 100%;
  height: 652px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v32_29 {
  width: 888px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 164px;
  left: 56px;
  font-family: DM Sans;
  font-weight: Thin Italic;
  font-size: 64px;
  opacity: 1;
  text-align: left;
}
.v32_27 {
  width: 380px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 50px;
  left: 56px;
  font-family: DM Sans;
  font-weight: Black;
  font-size: 64px;
  opacity: 1;
  text-align: left;
}
.v32_51 {
  width: 100%;
  height: 652px;
  background: url("../images/v32_51.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 2156px;
  left: 0px;
  overflow: hidden;
}
.v32_30 {
  width: 100%;
  height: 652px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v32_32 {
  width: 888px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 182px;
  left: 737px;
  font-family: DM Sans;
  font-weight: Thin Italic;
  font-size: 64px;
  opacity: 1;
  text-align: right;
}
.v32_31 {
  width: 380px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 62px;
  left: 1245px;
  font-family: DM Sans;
  font-weight: Black;
  font-size: 64px;
  opacity: 1;
  text-align: right;
}
.v32_50 {
  width: 100%;
  height: 652px;
  background: url("../images/v32_50.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 2860px;
  left: 0px;
  overflow: hidden;
}
.v32_34 {
  width: 100%;
  height: 652px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v32_36 {
  width: 888px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 164px;
  left: 56px;
  font-family: DM Sans;
  font-weight: Thin Italic;
  font-size: 64px;
  opacity: 1;
  text-align: left;
}
.v32_35 {
  width: 380px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 50px;
  left: 56px;
  font-family: DM Sans;
  font-weight: Black;
  font-size: 64px;
  opacity: 1;
  text-align: left;
}
.v32_52 {
  width: 100%;
  height: 652px;
  background: url("../images/v32_52.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 4268px;
  left: 0px;
  overflow: hidden;
}
.v32_53 {
  width: 100%;
  height: 652px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v32_55 {
  width: 888px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 164px;
  left: 56px;
  font-family: DM Sans;
  font-weight: Thin Italic;
  font-size: 64px;
  opacity: 1;
  text-align: left;
}
.v32_54 {
  width: 380px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 50px;
  left: 56px;
  font-family: DM Sans;
  font-weight: Black;
  font-size: 64px;
  opacity: 1;
  text-align: left;
}
.v32_49 {
  width: 100%;
  height: 652px;
  background: url("../images/v32_49.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 3564px;
  left: 0px;
  overflow: hidden;
}
.v32_37 {
  width: 100%;
  height: 652px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v32_39 {
  width: 888px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 182px;
  left: 737px;
  font-family: DM Sans;
  font-weight: Thin Italic;
  font-size: 64px;
  opacity: 1;
  text-align: right;
}
.v32_38 {
  width: 380px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 62px;
  left: 1245px;
  font-family: DM Sans;
  font-weight: Black;
  font-size: 64px;
  opacity: 1;
  text-align: right;
}
.v32_59 {
  width: 100%;
  height: 652px;
  background: url("../images/v32_59.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 4996px;
  left: 0px;
  overflow: hidden;
}
.v32_43 {
  width: 100%;
  height: 652px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v32_45 {
  width: 888px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 182px;
  left: 737px;
  font-family: DM Sans;
  font-weight: Thin Italic;
  font-size: 64px;
  opacity: 1;
  text-align: right;
}
.v32_44 {
  width: 380px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 62px;
  left: 1245px;
  font-family: DM Sans;
  font-weight: Black;
  font-size: 64px;
  opacity: 1;
  text-align: right;
}
.v32_58 {
  width: 100%;
  height: 1008px;
  background: url("../images/v32_58.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 180px;
  left: 0px;
  overflow: hidden;
}
.v32_25 {
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.6200000047683716);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v32_24 {
  width: 100%;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 584px;
  left: 87px;
  font-family: DM Sans;
  font-weight: Black;
  font-size: 40px;
  opacity: 1;
  text-align: left;
}
.v32_23 {
  width: 100%;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 464px;
  left: 0px;
  font-family: DM Sans;
  font-weight: Black;
  font-size: 64px;
  opacity: 1;
  text-align: center;
}
.v32_5 {
  width: 100%;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 6px;
  left: 0px;
  font-family: DM Sans;
  font-weight: Black;
  font-size: 400px;
  opacity: 1;
  text-align: center;
}
.v32_60 {
  width: 100%;
  height: 180px;
  background: url("../images/v32_60.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v32_8 {
  width: 100%;
  height: 180px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v32_12 {
  width: 128px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 55px;
  left: 802px;
  font-family: DM Sans;
  font-weight: Regular;
  font-size: 48px;
  opacity: 1;
  text-align: left;
}
.v32_13 {
  width: 218px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 55px;
  left: 977px;
  font-family: DM Sans;
  font-weight: Regular;
  font-size: 48px;
  opacity: 1;
  text-align: left;
}
.v32_14 {
  width: 208px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 55px;
  left: 1232px;
  font-family: DM Sans;
  font-weight: Regular;
  font-size: 48px;
  opacity: 1;
  text-align: left;
}
.v32_15 {
  width: 208px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 55px;
  left: 1487px;
  font-family: DM Sans;
  font-weight: Regular;
  font-size: 48px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
.v32_10 {
  width: 38px;
  height: 100px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 47px;
  left: 72px;
}
.v32_11 {
  width: 184px;
  height: 75px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 57px;
  left: 52px;
}
.v35_216 {
  width: 758px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 5676px;
  left: 97px;
  font-family: DM Sans;
  font-weight: SemiBold;
  font-size: 96px;
  opacity: 1;
  text-align: left;
}
