* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v14_10 {
  width: 100%;
  height: 17151px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v41_768 {
  width: 100%;
  height: 386px;
  background: url("../images/v41_768.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 16764px;
  left: 0px;
  overflow: hidden;
}
.v41_769 {
  width: 100%;
  height: 142px;
  background: rgba(114,114,114,1);
  opacity: 1;
  position: absolute;
  top: 244px;
  left: 0px;
  overflow: hidden;
}
.v41_770 {
  width: 117px;
  height: 51px;
  background: url("../images/v41_770.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 44px;
  overflow: hidden;
}
.v41_771 {
  width: 34px;
  height: 33px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 4px;
  left: 3px;
}
.v41_772 {
  width: 31px;
  height: 30px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 1px;
}
.v41_773 {
  width: 25px;
  height: 24px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 0px;
}
.v41_774 {
  width: 12px;
  height: 12px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 3px;
  left: 2px;
}
.v41_775 {
  width: 47px;
  height: 45px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 4px;
  left: 24px;
}
.v41_776 {
  width: 48px;
  height: 46px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 17px;
}
.v41_777 {
  width: 47px;
  height: 45px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 11px;
}
.v41_778 {
  width: 41px;
  height: 39px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 3px;
  left: 7px;
}
.v41_779 {
  width: 28px;
  height: 27px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 23px;
  left: 89px;
}
.v41_780 {
  width: 34px;
  height: 33px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 16px;
  left: 82px;
}
.v41_781 {
  width: 15px;
  height: 14px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 34px;
  left: 99px;
}
.v41_782 {
  width: 37px;
  height: 36px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 11px;
  left: 76px;
}
.v41_783 {
  width: 42px;
  height: 40px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 6px;
  left: 67px;
}
.v41_784 {
  width: 48px;
  height: 46px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 3px;
  left: 57px;
}
.v41_785 {
  width: 49px;
  height: 48px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 49px;
}
.v41_786 {
  width: 48px;
  height: 46px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 44px;
}
.v41_787 {
  width: 46px;
  height: 45px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 35px;
}
.v41_788 {
  width: 34px;
  height: 33px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 4px;
  left: 3px;
}
.v41_789 {
  width: 31px;
  height: 30px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 1px;
}
.v41_790 {
  width: 25px;
  height: 24px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 0px;
}
.v41_791 {
  width: 12px;
  height: 12px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 3px;
  left: 2px;
}
.v41_792 {
  width: 47px;
  height: 45px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 4px;
  left: 24px;
}
.v41_793 {
  width: 48px;
  height: 46px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 17px;
}
.v41_794 {
  width: 47px;
  height: 45px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 11px;
}
.v41_795 {
  width: 41px;
  height: 39px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 3px;
  left: 7px;
}
.v41_796 {
  width: 28px;
  height: 27px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 23px;
  left: 89px;
}
.v41_797 {
  width: 34px;
  height: 33px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 16px;
  left: 82px;
}
.v41_798 {
  width: 15px;
  height: 14px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 34px;
  left: 99px;
}
.v41_799 {
  width: 37px;
  height: 36px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 11px;
  left: 76px;
}
.v41_800 {
  width: 42px;
  height: 40px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 6px;
  left: 67px;
}
.v41_801 {
  width: 48px;
  height: 46px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 3px;
  left: 57px;
}
.v41_802 {
  width: 49px;
  height: 48px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 49px;
}
.v41_803 {
  width: 48px;
  height: 46px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 44px;
}
.v41_804 {
  width: 46px;
  height: 45px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 35px;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v41_809 {
  width: 585px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 290px;
  left: 184px;
  font-family: DM Sans;
  font-weight: Regular;
  font-size: 27px;
  opacity: 1;
  text-align: left;
}
.v41_810 {
  width: 176px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 290px;
  left: 811px;
  font-family: DM Sans;
  font-weight: Regular;
  font-size: 27px;
  opacity: 1;
  text-align: left;
}
.v41_811 {
  width: 176px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 290px;
  left: 1028px;
  font-family: DM Sans;
  font-weight: Regular;
  font-size: 27px;
  opacity: 1;
  text-align: center;
}
.v41_812 {
  width: 212px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 290px;
  left: 1224px;
  font-family: DM Sans;
  font-weight: Regular;
  font-size: 27px;
  opacity: 1;
  text-align: center;
}
.v41_813 {
  width: 212px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 290px;
  left: 1454px;
  font-family: DM Sans;
  font-weight: Regular;
  font-size: 27px;
  opacity: 1;
  text-align: center;
}
.v41_814 {
  width: 100%;
  height: 289px;
  background: url("../images/v41_814.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 16720px;
  left: 0px;
  overflow: hidden;
}
.v41_815 {
  width: 100%;
  height: 289px;
  background: rgba(114,114,114,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v41_816 {
  width: 415px;
  height: 88px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 56px;
  left: 101px;
  border-top-left-radius: 17px;
  border-top-right-radius: 17px;
  border-bottom-left-radius: 17px;
  border-bottom-right-radius: 17px;
  overflow: hidden;
}
.v41_817 {
  width: 415px;
  height: 88px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 56px;
  left: 658px;
  border-top-left-radius: 17px;
  border-top-right-radius: 17px;
  border-bottom-left-radius: 17px;
  border-bottom-right-radius: 17px;
  overflow: hidden;
}
.v41_818 {
  width: 415px;
  height: 88px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 56px;
  left: 1216px;
  border-top-left-radius: 17px;
  border-top-right-radius: 17px;
  border-bottom-left-radius: 17px;
  border-bottom-right-radius: 17px;
  overflow: hidden;
}
.v41_819 {
  width: 196px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 79px;
  left: 1325px;
  font-family: DM Sans;
  font-weight: SemiBold;
  font-size: 32px;
  opacity: 1;
  text-align: center;
}
.v41_820 {
  width: 196px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 79px;
  left: 768px;
  font-family: DM Sans;
  font-weight: SemiBold;
  font-size: 32px;
  opacity: 1;
  text-align: center;
}
.v41_821 {
  width: 196px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 79px;
  left: 210px;
  font-family: DM Sans;
  font-weight: SemiBold;
  font-size: 32px;
  opacity: 1;
  text-align: center;
}
.v41_822 {
  width: 468px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 192px;
  left: 76px;
  font-family: DM Sans;
  font-weight: Regular;
  font-size: 32px;
  opacity: 1;
  text-align: center;
}
.v41_823 {
  width: 319px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 171px;
  left: 706px;
  font-family: DM Sans;
  font-weight: Regular;
  font-size: 32px;
  opacity: 1;
  text-align: center;
}
.v41_824 {
  width: 63px;
  height: 59px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 173px;
  left: 1392px;
}
.v41_825 {
  width: 100%;
  height: 1212px;
  background: url("../images/v41_825.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 15508px;
  left: 14px;
  overflow: hidden;
}
.v41_826 {
  width: 100%;
  height: 100%;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v41_827 {
  width: 759px;
  height: 88px;
  background: url("../images/v41_827.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1080px;
  left: 77px;
  overflow: hidden;
}
.v41_828 {
  width: 759px;
  height: 88px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 17px;
  border-top-right-radius: 17px;
  border-bottom-left-radius: 17px;
  border-bottom-right-radius: 17px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.name {
  color: #fff;
}
.v41_832 {
  width: 362px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 23px;
  left: 8px;
  font-family: DM Sans;
  font-weight: SemiBold;
  font-size: 32px;
  opacity: 1;
  text-align: center;
}
.v41_833 {
  width: 362px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 23px;
  left: 396px;
  font-family: DM Sans;
  font-weight: SemiBold;
  font-size: 32px;
  opacity: 1;
  text-align: center;
}
.v41_834 {
  width: 100%;
  height: 42px;
  background: url("../images/v41_834.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 990px;
  left: 79px;
  overflow: hidden;
}
.v41_835 {
  width: 100%;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: DM Sans;
  font-weight: Regular;
  font-size: 32px;
  opacity: 1;
  text-align: center;
}
.v41_836 {
  width: 100%;
  height: 756px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 186px;
  left: 0px;
  overflow: hidden;
}
.v41_837 {
  width: 751px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 28px;
  left: 96px;
  font-family: DM Sans;
  font-weight: SemiBold;
  font-size: 96px;
  opacity: 1;
  text-align: left;
}
.v41_743 {
  width: 100%;
  height: 1952px;
  background: url("../images/v41_743.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 13576px;
  left: 0px;
  overflow: hidden;
}
.v41_744 {
  width: 100%;
  height: 100%;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v41_745 {
  width: 100%;
  height: 567px;
  background: url("../images/v41_745.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1322px;
  left: 118px;
  overflow: hidden;
}
.v41_746 {
  width: 100%;
  height: 567px;
  background: url("../images/v41_746.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v41_749 {
  width: 632px;
  color: rgba(67,141,204,1);
  position: absolute;
  top: 34px;
  left: 0px;
  font-family: DM Sans;
  font-weight: Black;
  font-size: 64px;
  opacity: 1;
  text-align: left;
}
.v41_750 {
  width: 576px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 144px;
  left: 928px;
  font-family: DM Sans;
  font-weight: Black;
  font-size: 40px;
  opacity: 1;
  text-align: left;
}
.v41_751 {
  width: 632px;
  color: rgba(67,141,204,1);
  position: absolute;
  top: 34px;
  left: 832px;
  font-family: DM Sans;
  font-weight: Black;
  font-size: 64px;
  opacity: 1;
  text-align: left;
}
.v41_752 {
  width: 576px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 144px;
  left: 68px;
  font-family: DM Sans;
  font-weight: Black;
  font-size: 40px;
  opacity: 1;
  text-align: left;
}
.v41_753 {
  width: 876px;
  color: rgba(67,141,204,1);
  position: absolute;
  top: 96px;
  left: 101px;
  font-family: DM Sans;
  font-weight: Black;
  font-size: 130px;
  opacity: 1;
  text-align: left;
}
.v41_754 {
  width: 576px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 698px;
  left: 1012px;
  font-family: DM Sans;
  font-weight: Black;
  font-size: 40px;
  opacity: 1;
  text-align: left;
}
.v41_761 {
  width: 552px;
  color: rgba(67,141,204,1);
  position: absolute;
  top: 580px;
  left: 1072px;
  font-family: DM Sans;
  font-weight: Black;
  font-size: 64px;
  opacity: 1;
  text-align: left;
}
.v41_755 {
  width: 615px;
  height: 275px;
  background: url("../images/v41_755.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 154px;
  left: 1072px;
  overflow: hidden;
}
.v41_756 {
  width: 615px;
  color: rgba(67,141,204,1);
  position: absolute;
  top: 80px;
  left: 0px;
  font-family: DM Sans;
  font-weight: Black;
  font-size: 120px;
  opacity: 1;
  text-align: left;
}
.v41_757 {
  width: 514px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: DM Sans;
  font-weight: Black;
  font-size: 64px;
  opacity: 1;
  text-align: left;
}
.v41_758 {
  width: 832px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 580px;
  left: 112px;
  font-family: DM Sans;
  font-weight: Black;
  font-size: 40px;
  opacity: 1;
  text-align: left;
}
.v41_724 {
  width: 100%;
  height: 1820px;
  background: url("../images/v41_724.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 11756px;
  left: 6px;
  overflow: hidden;
}
.v41_725 {
  width: 100%;
  height: 100%;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v41_726 {
  width: 100%;
  height: 567px;
  background: url("../images/v41_726.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1194px;
  left: 118px;
  overflow: hidden;
}
.v41_727 {
  width: 100%;
  height: 567px;
  background: url("../images/v41_727.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v41_730 {
  width: 632px;
  color: rgba(67,141,204,1);
  position: absolute;
  top: 34px;
  left: 0px;
  font-family: DM Sans;
  font-weight: Black;
  font-size: 64px;
  opacity: 1;
  text-align: left;
}
.v41_731 {
  width: 576px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 144px;
  left: 928px;
  font-family: DM Sans;
  font-weight: Black;
  font-size: 40px;
  opacity: 1;
  text-align: left;
}
.v41_732 {
  width: 632px;
  color: rgba(67,141,204,1);
  position: absolute;
  top: 34px;
  left: 832px;
  font-family: DM Sans;
  font-weight: Black;
  font-size: 64px;
  opacity: 1;
  text-align: left;
}
.v41_733 {
  width: 576px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 144px;
  left: 68px;
  font-family: DM Sans;
  font-weight: Black;
  font-size: 40px;
  opacity: 1;
  text-align: left;
}
.v41_734 {
  width: 876px;
  color: rgba(67,141,204,1);
  position: absolute;
  top: 96px;
  left: 101px;
  font-family: DM Sans;
  font-weight: Black;
  font-size: 130px;
  opacity: 1;
  text-align: left;
}
.v41_735 {
  width: 576px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 696px;
  left: 1012px;
  font-family: DM Sans;
  font-weight: Black;
  font-size: 40px;
  opacity: 1;
  text-align: left;
}
.v41_762 {
  width: 552px;
  color: rgba(67,141,204,1);
  position: absolute;
  top: 574px;
  left: 1072px;
  font-family: DM Sans;
  font-weight: Black;
  font-size: 64px;
  opacity: 1;
  text-align: left;
}
.v41_736 {
  width: 615px;
  height: 275px;
  background: url("../images/v41_736.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 154px;
  left: 1072px;
  overflow: hidden;
}
.v41_737 {
  width: 615px;
  color: rgba(67,141,204,1);
  position: absolute;
  top: 80px;
  left: 0px;
  font-family: DM Sans;
  font-weight: Black;
  font-size: 120px;
  opacity: 1;
  text-align: left;
}
.v41_738 {
  width: 514px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: DM Sans;
  font-weight: Black;
  font-size: 64px;
  opacity: 1;
  text-align: left;
}
.v41_739 {
  width: 832px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 580px;
  left: 112px;
  font-family: DM Sans;
  font-weight: Black;
  font-size: 40px;
  opacity: 1;
  text-align: left;
}
.v41_689 {
  width: 100%;
  height: 1904px;
  background: url("../images/v41_689.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 9852px;
  left: 0px;
  overflow: hidden;
}
.v41_690 {
  width: 100%;
  height: 100%;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v41_705 {
  width: 100%;
  height: 567px;
  background: url("../images/v41_705.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1261px;
  left: 112px;
  overflow: hidden;
}
.v41_692 {
  width: 100%;
  height: 567px;
  background: url("../images/v41_692.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v41_695 {
  width: 632px;
  color: rgba(67,141,204,1);
  position: absolute;
  top: 34px;
  left: 0px;
  font-family: DM Sans;
  font-weight: Black;
  font-size: 64px;
  opacity: 1;
  text-align: left;
}
.v41_696 {
  width: 576px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 144px;
  left: 928px;
  font-family: DM Sans;
  font-weight: Black;
  font-size: 40px;
  opacity: 1;
  text-align: left;
}
.v41_697 {
  width: 632px;
  color: rgba(67,141,204,1);
  position: absolute;
  top: 34px;
  left: 832px;
  font-family: DM Sans;
  font-weight: Black;
  font-size: 64px;
  opacity: 1;
  text-align: left;
}
.v41_703 {
  width: 576px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 144px;
  left: 68px;
  font-family: DM Sans;
  font-weight: Black;
  font-size: 40px;
  opacity: 1;
  text-align: left;
}
.v41_691 {
  width: 876px;
  color: rgba(67,141,204,1);
  position: absolute;
  top: 96px;
  left: 101px;
  font-family: DM Sans;
  font-weight: Black;
  font-size: 150px;
  opacity: 1;
  text-align: left;
}
.v41_698 {
  width: 576px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 672px;
  left: 1000px;
  font-family: DM Sans;
  font-weight: Black;
  font-size: 40px;
  opacity: 1;
  text-align: left;
}
.v41_764 {
  width: 552px;
  color: rgba(67,141,204,1);
  position: absolute;
  top: 560px;
  left: 1058px;
  font-family: DM Sans;
  font-weight: Black;
  font-size: 64px;
  opacity: 1;
  text-align: left;
}
.v41_699 {
  width: 615px;
  height: 275px;
  background: url("../images/v41_699.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 154px;
  left: 1072px;
  overflow: hidden;
}
.v41_700 {
  width: 615px;
  color: rgba(67,141,204,1);
  position: absolute;
  top: 80px;
  left: 0px;
  font-family: DM Sans;
  font-weight: Black;
  font-size: 120px;
  opacity: 1;
  text-align: left;
}
.v41_701 {
  width: 514px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: DM Sans;
  font-weight: Black;
  font-size: 64px;
  opacity: 1;
  text-align: left;
}
.v41_702 {
  width: 832px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 580px;
  left: 112px;
  font-family: DM Sans;
  font-weight: Black;
  font-size: 40px;
  opacity: 1;
  text-align: left;
}
.v41_688 {
  width: 100%;
  height: 1520px;
  background: url("../images/v41_688.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 8332px;
  left: 0px;
  overflow: hidden;
}
.v39_669 {
  width: 100%;
  height: 100%;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v41_706 {
  width: 100%;
  height: 264px;
  background: url("../images/v41_706.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1208px;
  left: 112px;
  overflow: hidden;
}
.v41_687 {
  width: 100%;
  height: 236px;
  background: url("../images/v41_687.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v40_680 {
  width: 632px;
  color: rgba(67,141,204,1);
  position: absolute;
  top: 34px;
  left: 0px;
  font-family: DM Sans;
  font-weight: Black;
  font-size: 64px;
  opacity: 1;
  text-align: left;
}
.v40_683 {
  width: 576px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 144px;
  left: 928px;
  font-family: DM Sans;
  font-weight: Black;
  font-size: 40px;
  opacity: 1;
  text-align: left;
}
.v40_681 {
  width: 632px;
  color: rgba(67,141,204,1);
  position: absolute;
  top: 34px;
  left: 832px;
  font-family: DM Sans;
  font-weight: Black;
  font-size: 64px;
  opacity: 1;
  text-align: left;
}
.v40_685 {
  width: 576px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 144px;
  left: 68px;
  font-family: DM Sans;
  font-weight: Black;
  font-size: 40px;
  opacity: 1;
  text-align: left;
}
.v39_670 {
  width: 816px;
  color: rgba(67,141,204,1);
  position: absolute;
  top: 96px;
  left: 101px;
  font-family: DM Sans;
  font-weight: Black;
  font-size: 150px;
  opacity: 1;
  text-align: left;
}
.v41_766 {
  width: 552px;
  color: rgba(67,141,204,1);
  position: absolute;
  top: 580px;
  left: 1058px;
  font-family: DM Sans;
  font-weight: Black;
  font-size: 64px;
  opacity: 1;
  text-align: left;
}
.v39_677 {
  width: 576px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 698px;
  left: 1012px;
  font-family: DM Sans;
  font-weight: Black;
  font-size: 40px;
  opacity: 1;
  text-align: left;
}
.v39_675 {
  width: 606px;
  height: 274px;
  background: url("../images/v39_675.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 154px;
  left: 1072px;
  overflow: hidden;
}
.v39_672 {
  width: 606px;
  color: rgba(67,141,204,1);
  position: absolute;
  top: 79px;
  left: 0px;
  font-family: DM Sans;
  font-weight: Black;
  font-size: 150px;
  opacity: 1;
  text-align: left;
}
.v39_674 {
  width: 514px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: DM Sans;
  font-weight: Black;
  font-size: 64px;
  opacity: 1;
  text-align: left;
}
.v39_671 {
  width: 832px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 580px;
  left: 112px;
  font-family: DM Sans;
  font-weight: Black;
  font-size: 40px;
  opacity: 1;
  text-align: left;
}
.v38_668 {
  width: 100%;
  height: 208px;
  background: url("../images/v38_668.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 8124px;
  left: 0px;
  overflow: hidden;
}
.v38_665 {
  width: 100%;
  height: 208px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v38_666 {
  width: 100%;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 43px;
  left: 138px;
  font-family: DM Sans;
  font-weight: Black;
  font-size: 96px;
  opacity: 1;
  text-align: center;
}
.v37_664 {
  width: 100%;
  height: 812px;
  background: url("../images/v37_664.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 7312px;
  left: 111px;
  overflow: hidden;
}
.v35_615 {
  width: 100%;
  height: 812px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 111px;
  overflow: hidden;
}
.v35_640 {
  width: 598px;
  height: 386px;
  background: url("../images/v35_640.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 257px;
  left: 1320px;
  overflow: hidden;
}
.v35_641 {
  width: 598px;
  height: 386px;
  background: rgba(242,242,242,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 38px;
  border-top-right-radius: 38px;
  border-bottom-left-radius: 38px;
  border-bottom-right-radius: 38px;
  overflow: hidden;
}
.v35_642 {
  width: 503px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 193px;
  left: 54px;
  font-family: DM Sans;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
.v35_644 {
  width: 366px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 87px;
  left: 212px;
  font-family: DM Sans;
  font-weight: Regular;
  font-size: 32px;
  opacity: 1;
  text-align: left;
}
.v35_645 {
  width: 366px;
  color: rgba(67,141,204,1);
  position: absolute;
  top: 130px;
  left: 212px;
  font-family: DM Sans;
  font-weight: Regular;
  font-size: 32px;
  opacity: 1;
  text-align: left;
}
.v35_646 {
  width: 366px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 21px;
  left: 212px;
  font-family: DM Sans;
  font-weight: Regular;
  font-size: 48px;
  opacity: 1;
  text-align: left;
}
.v35_647 {
  width: 150px;
  height: 150px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 31px;
  left: 43px;
  border-radius: 50%;
}
.v35_631 {
  width: 598px;
  height: 386px;
  background: url("../images/v35_631.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 257px;
  left: 660px;
  overflow: hidden;
}
.v35_632 {
  width: 598px;
  height: 386px;
  background: rgba(242,242,242,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 38px;
  border-top-right-radius: 38px;
  border-bottom-left-radius: 38px;
  border-bottom-right-radius: 38px;
  overflow: hidden;
}
.v35_633 {
  width: 503px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 193px;
  left: 54px;
  font-family: DM Sans;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
.v35_635 {
  width: 366px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 87px;
  left: 212px;
  font-family: DM Sans;
  font-weight: Regular;
  font-size: 32px;
  opacity: 1;
  text-align: left;
}
.v35_636 {
  width: 366px;
  color: rgba(67,141,204,1);
  position: absolute;
  top: 130px;
  left: 212px;
  font-family: DM Sans;
  font-weight: Regular;
  font-size: 32px;
  opacity: 1;
  text-align: left;
}
.v35_637 {
  width: 366px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 21px;
  left: 212px;
  font-family: DM Sans;
  font-weight: Regular;
  font-size: 48px;
  opacity: 1;
  text-align: left;
}
.v35_638 {
  width: 150px;
  height: 150px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 31px;
  left: 43px;
  border-radius: 50%;
}
.v35_616 {
  width: 598px;
  height: 386px;
  background: url("../images/v35_616.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 257px;
  left: 0px;
  overflow: hidden;
}
.v35_629 {
  width: 598px;
  height: 386px;
  background: rgba(242,242,242,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 38px;
  border-top-right-radius: 38px;
  border-bottom-left-radius: 38px;
  border-bottom-right-radius: 38px;
  overflow: hidden;
}
.v35_630 {
  width: 503px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 193px;
  left: 54px;
  font-family: DM Sans;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
.v35_618 {
  width: 366px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 87px;
  left: 212px;
  font-family: DM Sans;
  font-weight: Regular;
  font-size: 32px;
  opacity: 1;
  text-align: left;
}
.v35_626 {
  width: 366px;
  color: rgba(67,141,204,1);
  position: absolute;
  top: 130px;
  left: 212px;
  font-family: DM Sans;
  font-weight: Regular;
  font-size: 32px;
  opacity: 1;
  text-align: left;
}
.v35_619 {
  width: 366px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 21px;
  left: 212px;
  font-family: DM Sans;
  font-weight: Regular;
  font-size: 48px;
  opacity: 1;
  text-align: left;
}
.v35_620 {
  width: 150px;
  height: 150px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 31px;
  left: 43px;
  border-radius: 50%;
}
.v35_658 {
  width: 195px;
  height: 508px;
  background: url("../images/v35_658.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 182px;
  left: 111px;
  overflow: hidden;
}
.v35_649 {
  width: 195px;
  height: 508px;
  background: linear-gradient(rgba(255,255,255,0), rgba(255,255,255,1));
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v35_654 {
  width: 85px;
  height: 15px;
  background: rgba(114,114,114,1);
  opacity: 1;
  position: absolute;
  top: 259px;
  left: 26px;
  transform: rotate(-57deg);
  overflow: hidden;
}
.v35_655 {
  width: 85px;
  height: 15px;
  background: rgba(114,114,114,1);
  opacity: 1;
  position: absolute;
  top: 331px;
  left: 72px;
  transform: rotate(-122deg);
  overflow: hidden;
}
.v35_659 {
  width: 195px;
  height: 508px;
  background: url("../images/v35_659.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 182px;
  left: 1851px;
  overflow: hidden;
}
.v35_660 {
  width: 195px;
  height: 508px;
  background: linear-gradient(rgba(255,255,255,0), rgba(255,255,255,1));
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v35_661 {
  width: 85px;
  height: 15px;
  background: rgba(114,114,114,1);
  opacity: 1;
  position: absolute;
  top: 259px;
  left: 27px;
  transform: rotate(-122deg);
  overflow: hidden;
}
.v35_662 {
  width: 85px;
  height: 15px;
  background: rgba(114,114,114,1);
  opacity: 1;
  position: absolute;
  top: 331px;
  left: 73px;
  transform: rotate(-57deg);
  overflow: hidden;
}
.v35_624 {
  width: 100%;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 30px;
  left: 223px;
  font-family: DM Sans;
  font-weight: Black;
  font-size: 96px;
  opacity: 1;
  text-align: left;
}
.v35_595 {
  width: 100%;
  height: 1540px;
  background: url("../images/v35_595.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 5772px;
  left: 0px;
  overflow: hidden;
}
.v35_596 {
  width: 100%;
  height: 100%;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v35_597 {
  width: 442px;
  height: 88px;
  background: url("../images/v35_597.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1331px;
  left: 80px;
  overflow: hidden;
}
.v35_598 {
  width: 442px;
  height: 88px;
  background: rgba(145,145,145,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.v35_599 {
  width: 428px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 24px;
  left: 7px;
  font-family: DM Sans;
  font-weight: SemiBold;
  font-size: 32px;
  opacity: 1;
  text-align: center;
}
.v35_600 {
  width: 100%;
  height: 628px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 220px;
  left: 0px;
  overflow: hidden;
}
.v35_601 {
  width: 100%;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 74px;
  left: 112px;
  font-family: DM Sans;
  font-weight: Black;
  font-size: 96px;
  opacity: 1;
  text-align: left;
}
.v35_602 {
  width: 100%;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 904px;
  left: 80px;
  font-family: DM Sans;
  font-weight: 9pt Italic;
  font-size: 48px;
  opacity: 1;
  text-align: left;
}
.v35_577 {
  width: 100%;
  height: 1488px;
  background: url("../images/v35_577.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 4284px;
  left: 0px;
  overflow: hidden;
}
.v35_578 {
  width: 100%;
  height: 100%;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v35_579 {
  width: 442px;
  height: 88px;
  background: url("../images/v35_579.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1316px;
  left: 80px;
  overflow: hidden;
}
.v35_580 {
  width: 442px;
  height: 88px;
  background: rgba(145,145,145,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.v35_581 {
  width: 428px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 24px;
  left: 7px;
  font-family: DM Sans;
  font-weight: SemiBold;
  font-size: 32px;
  opacity: 1;
  text-align: center;
}
.v35_582 {
  width: 100%;
  height: 628px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 220px;
  left: 0px;
  overflow: hidden;
}
.v35_583 {
  width: 100%;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 74px;
  left: 112px;
  font-family: DM Sans;
  font-weight: Black;
  font-size: 96px;
  opacity: 1;
  text-align: left;
}
.v35_584 {
  width: 100%;
  color: url("../images/v35_584.png");
  position: absolute;
  top: 904px;
  left: 80px;
  font-family: DM Sans;
  font-weight: 9pt Italic;
  font-size: 48px;
  opacity: 1;
  text-align: left;
}
.v35_606 {
  width: 100%;
  height: 1419px;
  background: url("../images/v35_606.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 2865px;
  left: 0px;
  overflow: hidden;
}
.v35_607 {
  width: 100%;
  height: 100%;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v35_608 {
  width: 442px;
  height: 88px;
  background: url("../images/v35_608.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1247px;
  left: 80px;
  overflow: hidden;
}
.v35_609 {
  width: 442px;
  height: 88px;
  background: rgba(145,145,145,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.v35_610 {
  width: 428px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 24px;
  left: 7px;
  font-family: DM Sans;
  font-weight: SemiBold;
  font-size: 32px;
  opacity: 1;
  text-align: center;
}
.v35_611 {
  width: 100%;
  height: 628px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 220px;
  left: 0px;
  overflow: hidden;
}
.v35_612 {
  width: 100%;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 74px;
  left: 112px;
  font-family: DM Sans;
  font-weight: Black;
  font-size: 96px;
  opacity: 1;
  text-align: left;
}
.v35_613 {
  width: 100%;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 904px;
  left: 80px;
  font-family: DM Sans;
  font-weight: 9pt Italic;
  font-size: 48px;
  opacity: 1;
  text-align: left;
}
.v35_546 {
  width: 100%;
  height: 1419px;
  background: url("../images/v35_546.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1446px;
  left: 0px;
  overflow: hidden;
}
.v35_547 {
  width: 100%;
  height: 100%;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v35_552 {
  width: 442px;
  height: 88px;
  background: url("../images/v35_552.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1247px;
  left: 80px;
  overflow: hidden;
}
.v35_553 {
  width: 442px;
  height: 88px;
  background: rgba(145,145,145,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.v35_557 {
  width: 428px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 24px;
  left: 7px;
  font-family: DM Sans;
  font-weight: SemiBold;
  font-size: 32px;
  opacity: 1;
  text-align: center;
}
.v35_548 {
  width: 100%;
  height: 628px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 220px;
  left: 0px;
  overflow: hidden;
}
.v35_549 {
  width: 100%;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 74px;
  left: 112px;
  font-family: DM Sans;
  font-weight: Black;
  font-size: 96px;
  opacity: 1;
  text-align: left;
}
.v35_550 {
  width: 100%;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 904px;
  left: 80px;
  font-family: DM Sans;
  font-weight: 9pt Italic;
  font-size: 48px;
  opacity: 1;
  text-align: left;
}
.v35_539 {
  width: 100%;
  height: 1272px;
  background: url("../images/v35_539.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 180px;
  left: 0px;
  overflow: hidden;
}
.v35_545 {
  width: 100%;
  height: 100%;
  background: rgba(104,154,190,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 2px;
  overflow: hidden;
}
.v35_540 {
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.6200000047683716);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v35_541 {
  width: 100%;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 464px;
  left: 87px;
  font-family: DM Sans;
  font-weight: Black;
  font-size: 40px;
  opacity: 1;
  text-align: left;
}
.v35_543 {
  width: 100%;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 103px;
  left: 0px;
  font-family: DM Sans;
  font-weight: Black;
  font-size: 250px;
  opacity: 1;
  text-align: center;
}
.v35_526 {
  width: 100%;
  height: 180px;
  background: url("../images/v35_526.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 2px;
  overflow: hidden;
}
.v35_527 {
  width: 100%;
  height: 180px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v35_528 {
  width: 127px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 55px;
  left: 800px;
  font-family: DM Sans;
  font-weight: Regular;
  font-size: 48px;
  opacity: 1;
  text-align: left;
}
.v35_529 {
  width: 217px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 55px;
  left: 975px;
  font-family: DM Sans;
  font-weight: Regular;
  font-size: 48px;
  opacity: 1;
  text-align: left;
}
.v35_530 {
  width: 207px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 55px;
  left: 1230px;
  font-family: DM Sans;
  font-weight: Regular;
  font-size: 48px;
  opacity: 1;
  text-align: left;
}
.v35_531 {
  width: 207px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 55px;
  left: 1484px;
  font-family: DM Sans;
  font-weight: Regular;
  font-size: 48px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
.v35_533 {
  width: 184px;
  height: 88px;
  background: url("../images/v35_533.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 38px;
  left: 59px;
  overflow: hidden;
}
.v35_534 {
  width: 38px;
  height: 88px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 20px;
}
.v35_535 {
  width: 184px;
  height: 65px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 8px;
  left: 0px;
}
